body{
  font-family: 'Lato', sans-serif;
}

.nav-color{
  background-color: #c0b3c2;
}

.container {
  max-width: 960px;
}

.intro{
  font-size: 25px;
}

.img{
  margin-top: 50px;
}

.margin-top{
  margin-top: 50px;
}

.slogen {
  margin-top: 50px;
  font-family: 'Vidaloka', serif;
}

.card {
  margin-top: 10px;
}

.card-title {
  font-family: 'Vidaloka', serif;
}

.btn{
  color: black;
}

.special-font {
  font-family: 'Vidaloka', serif;
}

/*
 * Google font families I will be using.

 font-family: 'Lato', sans-serif;
font-family: 'Vidaloka', serif;
 */
